/* Montserrat */

@font-face {
	font-family: 'Montserrat Medium';
	src: url('/assets/fonts/Montserrat-Medium.ttf');
}

@font-face {
	font-family: 'Montserrat Regular';
	src: url('/assets/fonts/Montserrat-Regular.ttf');
}

/* Satoshi */

@font-face {
	font-family: 'Satoshi Light';
	src: url('/assets/fonts/satoshi/Satoshi-Light.ttf');
}

@font-face {
	font-family: 'Satoshi Regular';
	src: url('/assets/fonts/satoshi/Satoshi-Regular.ttf');
}

@font-face {
	font-family: 'Satoshi Medium';
	src: url('/assets/fonts/satoshi/Satoshi-Medium.ttf');
}

@font-face {
	font-family: 'Satoshi Bold';
	src: url('/assets/fonts/satoshi/Satoshi-Bold.ttf');
}

@font-face {
	font-family: 'Satoshi Black';
	src: url('/assets/fonts/satoshi/Satoshi-Black.ttf');
}
