{
	"printWidth": 180,
	"singleAttributePerLine": false,
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote": true,
	"overrides": [
		{
			"files": "**/*.html",
			"options": {
				"printWidth": 120,
				"parser": "angular"
			}
		}
	]
}
