:host {
	display: flex;
	flex-direction: row;

	width: 100%;
	height: 100%;

	> main {
		flex-grow: 1;

		padding: 26px;

		background-color: var(--color-background-secondary);

		> breadcrumbs {
			display: block;

			margin-bottom: 20px;
		}

		> .content {
			min-height: calc(100% - (32px + 20px));
			height: 1px;
		}
	}
}
