:host {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 5px;

	height: 40px;

	padding: 0 12px;

	border-radius: 12px;

	transition: background-color 0.3s ease;

	&:hover {
		background-color: var(--color-container-hover);

		cursor: pointer;

		> .title {
			color: var(--color-text-highlight);
		}

		> pihub-icon {
			fill: var(--color-text-highlight);
		}
	}

	&.selected {
		background-color: var(--color-container-selected);
	}

	&.slim {
		height: 36px;

		gap: 3px;

		> .title {
			font-size: 14px;
		}
	}

	> .title {
		font-family: 'Satoshi-Medium';
		font-size: 16px;

		color: var(--color-text-secondary);

		transition: color 0.3s ease;

		user-select: none;
	}

	> pihub-icon {
		fill: var(--color-text-secondary);

		transition: fill 0.3s ease;
	}
}
